{% extends "site_base.html" %}

{% load sitetree %}
{% load i18n %}
{% load bootstrap_tags %}

{% block body_class %}cms-page editable-form{% endblock %}

{% block head_title %}{% trans "Create/Edit Page" %}{% endblock %}

{% block page_title %}{% trans "Edit:" %} {{ path }}{% endblock %}

{% block breadcrumbs %}{% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}{% sitetree_breadcrumbs from "main-"|add:lang %}{% endwith %}{% endblock %}

{% block body %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <input type="submit" value="{% trans "Save" %}" />
        </div>
    </form>
{% endblock %}
