{% extends "responsive_base.html" %}

{% load sitetree %}
{% load i18n %}

{% block body_class %}cms-page {% if editable %}editable{% endif %}{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        $(function () {
            var mdown = $('.box-content').html();
            var converter = new Attacklab.showdown.converter();
            var html = converter.makeHtml(mdown);
            $('.box-content').html(html);
        });
    </script>
{% endblock %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block edit_page %}
    {% if editable %}
        <a href="{% url 'cms_page_edit' page.path %}" class="edit-btn">
                <i class="icon-pencil"></i> {% trans "Edit page" %}</a>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}{% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}{% sitetree_breadcrumbs from "main-"|add:lang %}{% endwith %}{% endblock %}

{% block body %}{% if use_french %}{{ page.body_fr|safe }}{% else %}{{ page.body|safe }}{% endif %}{% endblock %}
