{% extends "responsive_base.html" %}

{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}
{% load boxes_tags %}

{% block head_title %}{% trans "PyCon Jobs Fair" %}{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        $(function () {
            var converter = new Attacklab.showdown.converter();
            $('.job-listing').each(function() {
                $(this).html(converter.makeHtml($(this).html()));
            })
        });
    </script>
{% endblock %}


{% block body_class %}job-fair{% endblock %}

{% block page_title %}
    {% trans "PyCon Jobs Fair" %}
    <a href="{% url 'cms_page' "sponsors/prospectus/" %}" class="read-more">
        {% trans "Learn how to become a sponsor " %}
        <i class="icon icon-arrow-right"></i>
    </a>
{% endblock %}

{% block page_content %}
    <div class="container">
    {% sponsor_levels as levels %}
        <div class="span8">
            {% for level in levels %}
                {% if level.sponsors.count > 0 %}
                    <h2>{{ level.name }}</h2>
                    {% for sponsor in level.sponsors %}
                        {% localized_text "joblisting_text" sponsor as localized_joblisting_text %}
                        {% if localized_joblisting_text %}
                            <div class="job-post" id="sponsor-{{ sponsor.id }}">
                                <div class="post-content">
                                    <h2>
                                        <a href="{{ sponsor.external_url }}">
                                            <img src="{% thumbnail sponsor.website_logo '150x80' %}" alt="{{ sponsor.name }}" />
                                        </a>
                                    </h2>
                                    <h5>{{ sponsor.name }}</h5>
                                    <p><a href="{{ sponsor.external_url }}">{{ sponsor.get_display_url }}</a></p>
                                    <div class="job-listing">{{ localized_joblisting_text|safe }}</div>
                                </div>
                            </div>
                        {% else %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <aside class="span3">
            {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
            {% box "sponsor-jobs-"|add:lang %}
            {% endwith %}
        </aside>
    </div>
{% endblock %}
