{% extends "responsive_base.html" %}

{% load cache %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}

{% block head_title %}{% trans "About PyCon Sponsors" %}{% endblock %}

{% block body_class %}sponsors{% endblock %}

{% block page_title %}
    {% trans "About PyCon Sponsors" %}
    <a href="{% url 'cms_page' "sponsors/prospectus/" %}" class="read-more">
        {% trans "Learn how to become a sponsor " %}
        <i class="icon icon-arrow-right"></i>
    </a>
{% endblock %}

{% block page_content %}
    <div class="container">
        {% cache 600 "sponsors-list" %}
        {% sponsor_levels as levels %}

        {% for level in levels %}
            <div class="span12">
                {% if level.sponsors.count > 0 %}
                <h2>{{ level.name }}</h2>

                <div class="row">
                    {% for sponsor in level.sponsors %}
                        <div class="span4">
                            <div class="sponsor" id="sponsor-{{ sponsor.id }}">
                                <div class="sponsor-content">
                                    {% if sponsor.sponsor_logo.active %}
                                    <h3>
                                        <a href="{{ sponsor.external_url }}">
                                            <img src="{% thumbnail sponsor.website_logo '150x80' %}" alt="{{ sponsor.name }}" />
                                        </a>
                                    </h3>
                                    {% endif %}
                                    <h4>{{ sponsor.name }}</h4>
                                    <p><a href="{{ sponsor.external_url }}">{{ sponsor.get_display_url }}</a></p>
                                    <p>{% localized_text "listing_text" sponsor %}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
        {% endcache %}
    </div>
{% endblock %}
