{% extends "site_base.html" %}

{% load i18n %}
{% load proposal_tags %}
{% load review_tags %}
{% load teams_tags %}
{% load boxes_tags %}

{% block head_title %}{% trans "Dashboard" %}{% endblock %}

{% block body_class %}auth{% endblock %}

{% block page_title %}{% trans "Dashboard" %}{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="dashboard-top">
                {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
                {% box "dashboard-top-"|add:lang %}
                {% endwith %}
                </div>

                {% if language_form %}
                  <div class="box">
                      <div class="box-head">
                          <h2>{% trans "Language" %}</h2>
                      </div>
                      <form class="form-horizontal" action="{% url 'change_language' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ request.path }}"/>
                          {{ language_form.language.help_text }}</br>
                          {{ language_form.language }}
                          <input type="submit" class="btn btn-primary" value="{% trans "Change" %}"/>
                      </form>
                  </div>
                {% endif %}

               {% if user.speaker_profile or proposals_are_open %}
                <div class="dashboard-panel">
                    <div class="dashboard-panel-header">
                        <i class="icon-bullhorn"></i>
                        <h3>{% trans "Speaking" %}</h3>
                    </div>
                    <div class="dashboard-panel-content">
                        {% if user.speaker_profile %}
                            <div class="actions">
                                <a href="{% url 'speaker_edit' %}" class="action">
                                    <i class="widget-icon icon-pencil"></i>
                                    <span class="widget-label">{% trans "Edit your speaker profile" %}</span>
                                </a>

                                {% if proposals_are_open %}
                                  <a href="{% url 'proposal_submit' %}" class="action">
                                      <i class="widget-icon  icon-bullhorn"></i>
                                      <span class="widget-label">{% trans "Submit a new proposal" %}</span>
                                  </a>
                                {% endif %}
                            </div>

                            <section class="subsection">
                                <h4>{% trans "Your Proposals" %}</h4>
                                {% if user.speaker_profile.proposals.exists %}
                                    <table class="table">
                                        <tr>
                                            <th>{% trans "Title" %}</th>
                                            <th>{% trans "Session type" %}</th>
                                            <th>{% trans "Status" %}</th>
                                            <th>{% trans "Actions" %}</th>
                                        </tr>
                                        {% for proposal in user.speaker_profile.proposals.all %}
                                            {% include "proposals/_proposal_row.html" %}
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <p>{% trans "No proposals submitted yet." %}</p>
                                {% endif %}
                            </section>

                            {% associated_proposals as associated_proposals %}
                            {% if associated_proposals %}
                                <section class="subsection">
                                    <h4>{% trans "Proposals you have joined as an additional speaker" %}</h4>
                                    <table class="table">
                                        <tr>
                                            <th>{% trans "Title" %}</th>
                                            <th>{% trans "Session type" %}</th>
                                            <th>{% trans "Status" %}</th>
                                            <th>{% trans "Actions" %}</th>
                                        </tr>
                                        {% for proposal in associated_proposals %}
                                            {% include "proposals/_proposal_row.html" %}
                                        {% endfor %}
                                    </table>
                                </section>
                            {% endif %}

                            {% pending_proposals as pending_proposals %}
                            {% if pending_proposals %}
                                <section class="subsection">
                                    <h4>{% trans "Proposals you have been invited to join" %}</h4>
                                    <table class="table">
                                        <tr>
                                            <th>{% trans "Title" %}</th>
                                            <th>{% trans "Session type" %}</th>
                                            <th>{% trans "Status" %}</th>
                                            <th>{% trans "Actions" %}</th>
                                        </tr>
                                        {% for proposal in pending_proposals %}
                                            {% include "proposals/_pending_proposal_row.html" %}
                                        {% endfor %}
                                    </table>
                                </section>
                            {% endif %}

                        {% elif proposals_are_open %}
                            <p>{% trans "To submit a proposal, first create a speaker profile." %}</p>
                            <div class="actions">
                                <a href="{% url 'speaker_create' %}" class="action">
                                    <i class="widget-icon icon-user"></i>
                                    <span class="widget-label">{% trans "Create a speaker profile" %}</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

                {% if user.speaker_profile.all_presentations %}
                    <div class="dashboard-panel">
                        <div class="dashboard-panel-header">
                            <i class="icon-bullhorn"></i>
                            <h3>{% trans "Speaking" %}</h3>
                            <div class="pull-right" style="margin-right: 10px">
                                <a href="{% url 'speaker_edit' %}" class="btn">
                                    <i class="widget-icon icon-pencil"></i>
                                    {% trans "Edit your speaker profile" %}
                                </a>
                            </div>
                        </div>
                        <div class="dashboard-panel-content">
                            {% if user.speaker_profile %}
                                    <h4>{% trans "Your Presentations" %}</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>{% trans "Session Type" %}</th>
                                                <th>{% trans "Title" %}</th>
                                                <th>{% trans "Slot" %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for presentation in user.speaker_profile.all_presentations %}
                                                <tr>
                                                    <td>{{ presentation.section.name }}</td>
                                                    <td><a href="{% url 'schedule_presentation_detail' presentation.id %}">{{ presentation.title }}</a></td>
                                                    <td>{{ presentation.slot.day }}, {{ presentation.slot.start }} – {{ presentation.slot.end }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if show_financial_aid_section %}
                  <div class="dashboard-panel">
                    <div class="dashboard-panel-header">
                      <i class="icon-money"></i>
                      <h3>{% trans "Financial Aid" %}</h3>
                    </div>
                    <div class="dashboard-panel-content">
                      <div class="actions">
                        {% if show_finaid_apply_button %}
                          <a href="{% url 'finaid_edit' %}" class="action">
                            <i class="widget-icon icon-money"></i>
                            <span class='widget-label'>{% trans "Apply for financial aid" %}</span>
                          </a>
                        {% endif %}
                        {% if show_finaid_edit_button %}
                          <a href="{% url 'finaid_edit' %}" class="action">
                            <i class="widget-icon icon-money"></i>
                            <span class='widget-label'>{% trans "Edit financial aid application" %}</span>
                          </a>
                        {% endif %}
                        {% if show_finaid_status_button %}
                          <a href="{% url 'finaid_status' %}" class="action">
                            <i class="widget-icon icon-ok"></i>
                            <span class='widget-label'>{% trans "Financial aid application status" %}</span>
                          </a>
                        {% endif %}
                        {% if show_finaid_review_button %}
                          <a href="{% url 'finaid_review' %}" class="action">
                            <i class="widget-icon icon-comment"></i>
                            <span class="widget-label">{% trans "Review applications" %}</span>
                          </a>
                        {% endif %}
                        {% if show_finaid_download_button %}
                          <a href="{% url 'finaid_download_csv' %}" class="action">
                            <i class="widget-icon icon-arrow-down"></i>
                            <span class="widget-label">{% trans "Download applications" %}</span>
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}

                <div class="dashboard-panel">
                    <div class="dashboard-panel-header">
                        <i class="icon-briefcase"></i>
                        <h3>{% trans "Sponsorship" %}</h3>
                    </div>
                    <div class="dashboard-panel-content">
                        <div class="actions">
                            <a href="{% url 'cms_page' "sponsors/prospectus/" %}" class="action">
                                <i class="widget-icon icon-info-sign"></i>
                                <span class="widget-label">{% trans "Learn about sponsorship" %}</span>
                            </a>
                            {% if not user.sponsorships.exists %}
                                <a href="{% url 'sponsor_apply' %}" class="action">
                                    <i class="widget-icon icon-money"></i>
                                    <span class="widget-label">{% trans "Apply to be a sponsor" %}</span>
                                </a>
                            {% endif %}
                            {% if user.is_staff %}
                                <a href="{% url "sponsor_zip_logos" %}" class="action">
                                    <i class="widget-icon icon-arrow-down"></i>
                                    <span class="widget-label">{% trans "Download sponsor logos" %}</span>
                                </a>
                            {% endif %}
                        </div>

                        {% if user.sponsorships.exists %}
                            <section class="subsection">
                                <h4>{% trans "Your Sponsorship" %}</h4>
                                <ul>
                                    {% for sponsorship in user.sponsorships.all %}
                                        <li>
                                            <a href="{% url 'sponsor_detail' sponsorship.pk %}"><b>{{ sponsorship.name }}</b></a>
                                            ({{ sponsorship.level }})
                                            {% if not sponsorship.active %}
                                                <span class="label label-warning">{% trans "awaiting approval" %}</span>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        {% endif %}
                    </div>
                </div>

                {% if review_sections %}
                    <div class="dashboard-panel">
                        <div class="dashboard-panel-header">
                            <i class="icon-briefcase"></i>
                            <h3>{% trans "Reviews" %}</h3>
                        </div>
                        {% user_reviews as user_reviews %}
                        <div class="dashboard-panel-content">
                            <h4>{% trans "Review Sections" %}</h4>

                            <ul>
                                {% for section in review_sections %}
                                    <li><a href="{% url 'review_section' section.section.slug %}">{{ section }}</a></li>
                                {% endfor %}
                            </ul>

                            <h4>{% trans "Proposals you have reviewed" %}</h4>
                            <table class="table table-condensed">
                                <thead>
                                    <th>#</th>
                                    <th>{% trans "Speaker / Title" %}</th>
                                    <th>{% trans "Your Vote" %}</th>
                                </thead>
                                <tbody>
                                    {% for review in user_reviews %}
                                        <tr>
                                            <td>{{ review.proposal.number }}</td>
                                            <td>
                                                <b>{{ review.proposal.speaker }}</b>
                                                <br />
                                                {{ review.proposal.title }}
                                            </td>
                                            <td>{{ review.vote }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% comment %}
                            <h4>My Assignments</h4>
                            <table class="table">
                                <thead>
                                    <td>Proposal Title</td>
                                    <td>Score</td>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Title Three</td>
                                        <td>-1</td>
                                    </tr>
                                    <tr>
                                        <td>Title Four</td>
                                        <td>+2</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% endcomment %}

                        </div>
                </div>
                {% endif %}

                {% available_teams as available_teams %}
                {% if user.memberships.exists or available_teams %}
                    <div class="dashboard-panel">
                        <div class="dashboard-panel-header">
                            <i class="icon-group"></i>
                            <h3>{% trans "Teams" %}</h3>
                        </div>

                        <div class="dashboard-panel-content">
                            {% if user.memberships.exists %}
                                <h4>{% trans "Your Teams" %}</h4>
                                <table class="table table-striped">
                                    {% for membership in user.memberships.all %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'team_detail' membership.team.slug %}">{{ membership.team.name }}</a>
                                                {% if membership.team.description %}<br>{{ membership.team.description }}{% endif %}
                                            </td>
                                            <td>
                                                <span class="label{% if membership.state == 'invited' %} label-info{% endif %}">{{ membership.get_state_display }}</span>
                                            </td>
                                            <td>
                                                {% if membership.state == "manager" or user.is_staff %}
                                                    {% if membership.team.applicants %}{{ membership.team.applicants.count }} {% trans "applicant" %}{{ membership.team.applicants.count|pluralize }}{% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                            {% if available_teams %}
                                <h4>{% trans "Available Teams" %}</h4>
                                <table class="table table-striped">
                                    {% for team in available_teams %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'team_detail' team.slug %}">{{ team }}</a>
                                                {% if team.description %}<br>{{ team.description }}{% endif %}
                                            </td>
                                            <td>
                                                <span class="label">{{ team.get_access_display }}</span>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if request.user.is_staff %}
                <div class="dashboard-panel">
                    <div class="dashboard-panel-header">
                        <i class="icon-download"></i>
                        <h3>{% trans "Program Export" %}</h3>
                    </div>
                    <div class="dashboard-panel-content">
                        <p><a class="btn btn-default" href="{% url "program_export" %}">{% trans "Export Program Data" %}</a></p>
                        <p>{% trans "This action may take up to a minute to complete." %}</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
