{% extends "site_base.html" %}

{% load compress static sitetree %}
{% load i18n %}

{% block style_base %}
    {% compress css %}
        <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/responsive-site.less" />
        <script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/responsive-site.less" />
        {% endcompress %}
    {% endif %}

    {% compress css %}
        {% include "markedit/includes/markedit-css.html" %}
    {% endcompress %}

    {% block extra_style %}{% endblock %}
{% endblock %}


{% block topbar_base %}
    {% include "_messages.html" %}
    <header class="main">
        <a id="skip" href="#content">{% trans "Skip to main content" %}</a>
        <div class="container"> 
            <a class="logo-smaller" href="{% url 'home' %}">PyCon JP 2014 in Tokyo</a>
            <div class="account-bar{% if user.is_authenticated %} {% trans "loggedin" %}{% endif %}">
                {% block account_bar %}
                {% include "_account_bar.html" %}
                {% endblock %}
            </div>
            {% block main_nav %}
                <nav>
                    <a class="logo-small" href="{% url 'home' %}">PyCon JP 2014 in Tokyo</a>
                   
                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">

                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>

                                <div class="nav-collapse collapse">
                                {% block topbar %}
                                    {% block nav %}
                                    {# NOTE: Make sure we strip off the country part of the language code #}
                                    {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
                                    {% sitetree_menu from "main-"|add:lang include "trunk" %}
                                    {% endwith %}
                                    {% endblock %}
                                {% endblock %}
                                </div>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        </div>
    </header>
    {% block banner %}{% endblock %}
{% endblock %}
