{% extends "theme_base.html" %}

{% load url from future %}

{% load cache %}
{% load compress %}
{% load static %}
{% load i18n %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load sitetree %}

{% block head_title_base %}{% block head_title %}{% endblock %} | PyCon JP 2014 in TOKYO{% endblock %}

{% block style_base %}
    {% compress css %}
        <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/site.less" />
        <script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/site.less" />
        {% endcompress %}
    {% endif %}

    {% compress css %}
        {% include "markedit/includes/markedit-css.html" %}
    {% endcompress %}

    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    <meta property="og:image" content="https://us.pycon.org/2014/site_media/static/img/logo.png" />
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% include "markedit/includes/markedit-js.html" %}
    {% block extra_head %}{% endblock %}
    <meta name="google-site-verification" content="fG_DG4G4eFtBcgIKht-bJKdirGhDa_51X6yeCS8daDs" />
{% endblock %}

{% block extra_body_base %}
  {% if config.GOOGLE_ANALYTICS_TRACKING_ID %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ config.GOOGLE_ANALYTICS_TRACKING_ID }}', 'pycon.jp');
    ga('send', 'pageview');
  </script>
  {% endif %}
  {% block extra_body %}{% endblock %}
{% endblock %}

{% block topbar_base %}
    {% include "_messages.html" %}
    <header class="main">
        <a id="skip" href="#content">{% trans "Skip to main content" %}</a>
        <div class="container">
        <div class="account-bar{% if user.is_authenticated %} {% trans "loggedin" %}{% endif %}">
            {% block account_bar %}
            {% include "_account_bar.html" %}
            {% endblock %}
        </div>
        {% block main_nav %}
            <nav>
                <div class="container">
                    <a class="logo-small" href="{% url 'home' %}">PyCon JP 2014 in Tokyo</a>
                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            {% block topbar %}
                                {% block nav %}
                                {% with lang=LANGUAGE_CODE|default:"en"|slice:":2" %}
                                {% sitetree_menu from "main-"|add:lang include "trunk" %}
                                {% endwith %}
                                {% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        </div>
    </header>
    {% block banner %}{% endblock %}
{% endblock %}

{% block body_base %}
    <div id="content">
        {% block body_outer %}
            <div class="page-head">
                <div class="container">
                    <h1>{% block page_title %}{% endblock %}</h1>
                    {% block breadcrumbs %}{% endblock %}
                </div>
            </div>
            <div class="page-content">
                {% block page_content %}
                <div class="container">

                    <div class="row">
                        <div class="span9">
                            {% block edit_page %}{% endblock %}
                            <div class="box">
                                <div class="box-content">{% block body %}{% endblock %}</div>
                            </div>
                        </div>
                        <aside class="span2">
                            {% block sidebar %}
                            {% cache 600 "sidebar" %}
                                {% sponsors as all_sponsors %}
                                {% if all_sponsors %}
                                <div class="sponsor-list">
                                    <h2>{% trans "SPONSORS" %}</h2>
                                    {% sponsor_levels as levels %}
                                    {% for level in levels %}
                                        {% if level.sponsors %}
                                            <h3{% if forloop.first %} style="margin-top: 20px;"{% endif %}>{{ level.name }}</h3>
                                            {% for sponsor in level.sponsors %}
                                                <a href="{{ sponsor.external_url }}">
                                                    <img src="{% thumbnail sponsor.website_logo '100x60' %}" alt="{{ sponsor.name }}" />
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endcache %}
                            {% endblock %}
                        </aside>
                    </div>
                </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    <footer>
        {% comment %}
        <div class="hills">
            <div class="trees-1"></div>
            <div class="trees-2"></div>
            <div class="bike"></div>
            <div class="hill-1"></div>
            <div class="hill-2"></div>
        </div>
        {% endcomment %}

        <div class="container">
        {% block footer %}
            <a href="{%  url 'home' %}" class="logo">
                <img src="{{ STATIC_URL }}img/pycon2014-logo-footer@2x.png" alt="PyCon JP 2014 in Tokyo">
            </a>
            <div class="footer-content">
                <p>
                  {% blocktrans %}
                    PyCon JP 2014 in Tokyo is a production of the <a href="http://www.pycon.jp/">PyCon JP Management Team</a>.
                  {% endblocktrans %}
                </p>
                <p>
                  {% blocktrans %}
                    Site forked from the <a href="http://us.pycon.jp/2014">PyCon 2014</a> site built by <a href="http://caktusgroup.com">Caktus Consulting Group, LLC.</a> using <a href="http://eldarion.com/symposion/" title="Symposion — An Open Platform for Conference Websites">Symposion</a>.
                  {% endblocktrans %}
                </p>
                <p>
                  {% blocktrans %}
                    Questions? Comments? Contact <a href="mailto:pycon-organizers-jp@googlegroups.com">pycon-organizers-jp@googlegroups.com</a>
                  {% endblocktrans %}
                </p>
            </div>
        {% endblock %}
        </div>
    </footer>
{% endblock %}

{% block script_base %}
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
