// Table of Contents

// -- Imports
// -- Fonts
// -- Variables
// -- Mixins
// -- Generic
// -- Buttons
// -- Homepage
// -- Sponsors
// -- Venue
// -- CMS Page
// -- Retina styles
// -- Auth pages
// -- Boxes
// -- Sign Up + Login
// -- Team
// -- Speaker profile
// -- Reviews
// -- Job fair
// -- Financial Aid

/* Imports
==================== */
@import "bootstrap/bootstrap.less";

/* Fonts
==================== */
@import url(//fonts.googleapis.com/css?family=Lato:400,400italic,700,900);

/* Variables
==================== */

@blueLight:   #55b6d9;
@blueDark:    #2871ba;
@blueSky:     #d2f6ff;

@greenLight:  #76c34d;
// #62a83d
@greenDark:   #346B17; 
@yellowBeak:  #f6b34a;

@danger:      #cd0000;

@button-text:           @white;
@button-hover:          mix(@grayLight, white, 80%);
@button-active:         mix(@grayLight, black, 85%);
@button-primary-hover:  mix(@blueDark, white, 80%);
@button-primary-active: mix(@blueDark, black, 85%);
@button-info-hover:     mix(@blueLight, white, 80%);
@button-info-active:    mix(@blueLight, black, 85%);
@button-success-hover:  mix(@greenDark, white, 80%);
@button-success-active: mix(@greenDark, black, 85%);
@button-danger-hover:   mix(@danger, white, 80%);
@button-danger-active:  mix(@danger, black, 85%);
@button-warning-hover:  overlay(@yellowBeak, darken(white, 37.5%));
@button-warning-active: mix(@yellowBeak, black, 85%);
@button-white-hover:  overlay(@blueDark, darken(white, 37.5%));
@button-white-active: mix(@blueDark, black, 85%);


/* Mixins
==================== */
.swap-button-color(@color, @hover, @active) {
  background-color: @color;
  color: @grayDark;
  &:hover,
  &:focus,
  .btn-group:focus &.dropdown-toggle {
    background-color: @hover;
  }
  &:active,
  .btn-group.open &.dropdown-toggle,
  &.active {
    background-color: @active;
  }
}

.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.box-sizing(@boxmodel: border-box) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}

.placeholder-color(@color) {
  &:-moz-placeholder {
    color: @color;
  }
  &::-webkit-input-placeholder {
    color: @color;
  }
  &.placeholder {
    color: @color;
  }
}

.input-states(@color) {
  border-color: @color;
  color: @color;
  .box-shadow(none);

  &:focus {
    .box-shadow(none);
  }
}

.actions {
    .action {
        width: 22.50%;
        display: inline-block;
        padding: 12px 0;
        margin: 0 .9% 1em;
        vertical-align: top;
        text-decoration: none;
        background: #F3F3F3;
        border-radius: 5px;
        text-align:center;

        .widget-icon {
            margin-top: .25em;
            margin-bottom: .25em;
            font-size: 32px;
            color: #888;
        }

        .widget-label {
            display: block;
            font-weight: 400;
            color: #666;
        }
    }

    .action:hover {
        background: #E8E8E8;
    }
}

/* Generic
==================== */
body {
  background: @white;
  padding-top: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 { font-size: @baseFontSize * 2; }
h2 { font-size: @baseFontSize * 1.75; }
h3 { font-size: @baseFontSize * 1.5; }
h4 { font-size: @baseFontSize * 1.25; }
h5 { font-size: @baseFontSize; }
h6 { font-size: @baseFontSize * 0.85; }
h1, h2, h3 { line-height: 1.4em; }

h1 small { font-size: @baseFontSize * 1.5; }
h2 small { font-size: @baseFontSize; }
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }

p {
  font-size: @baseFontSize + 1;
  line-height: 1.6;
}

a {
  color: @blueDark;
  cursor: pointer;
  &:hover {
    color: @blueLight;
    .transition(0.25s);
    text-decoration: none;
  }
}

button, select {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

label {
  text-transform: uppercase;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
input[type="submit"],
.uneditable-input {
  border: 2px solid @grayLighter;
  color: @grayDark;
  font-family: 'Lato', sans-serif;;
  font-size: @baseFontSize;
  text-indent: 6px;
  padding: 6px 5px;
  -webkit-appearance: none;
  .border-radius(6px);
  .box-shadow(none);
  .placeholder-color(@grayLight);
  .transition(~"border .25s linear, color .25s linear");

  // Alternate state
  // --------------------------------------------------
  .control-group.focus &,
  &:focus {
    border-color: @blueDark;
    .box-shadow(none);
  }

  .row-fluid & {
    height: 41px;
    width: 100%;
  }

  // Flat (without border)
  &.flat {
    border-color: transparent;
    &:hover {
      border-color: @grayLight;
    }
    &:focus {
      border-color: @blueDark;
    }
  }

  // Alternate Colors
  // --------------------------------------------------
  .control-group.error &   { .input-states(@danger) }
  .control-group.success & { .input-states(@greenDark) }
  .control-group.warning & { .input-states(@yellowBeak) }
  .control-group.info &    { .input-states(@blueLight) }

  .control-group & { margin-bottom: 0; }
}

input.fullwidth-input {
  width: 600px;
}

textarea.fullwidth-textarea {
  width: 100%;
}

// Textarea
textarea {
  height: auto;
  font-size: @baseFontSize * 1.071; /* 15px */
  line-height: 24px;
  padding: 5px 11px;
  text-indent: 0;

  .row-fluid & {
    height: auto;
    width: 100% !important;
  }
}

textarea[class*="span"] {
  width: 100% !important;
  .box-sizing(border-box);
}

header.main {
  // .box-shadow(0 0 20px rgba(0,0,0,0.15));
  border-bottom: 1px solid rgba(0,0,0,0.09);
  z-index: 99;
  position: relative;
}

footer {
  text-align: center;
  font-size: 13px;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  margin-top: 80px;
  border-top: 1px solid @grayLighter;
  a.logo {
    img {
      // height: 27px;
      width: 150px;
      margin-bottom: 10px;
    }
  }
  .footer-content {
    position: relative;
    top: 30px;
    padding-bottom: 20px;
    p {
      padding: 0;
      margin: 0;
    }
  }
  .hills {
    .trees-1 {
      background:url(../img/trees-footer.png) no-repeat 0 0;
      height: 46px;
      width: 66px;
      position: absolute;
      left: 25%;
      top: 15px;
    }
    .trees-2 {
      background:url(../img/trees2-footer.png) no-repeat 0 0;
      height: 46px;
      width: 66px;
      position: absolute;
      left: 75%;
      top: 20px;
    }
    .bike {
      background:url(../img/bike-footer.png) no-repeat 0 0;
      height: 40px;
      width: 50px;
      position: absolute;
      left: 70%;
      top: 35px;
    }
    .hill-1 {
      z-index: -9999;
      position: absolute;
      left: -10px;
      bottom: -120px;
      width: 60%;
      height: 225px;
      background-color: @greenLight;
      .border-radius(100%);
    }
    .hill-2 {
      z-index: -100000;
      position: absolute;
      right: -10px;
      bottom: -120px;
      width: 60%;
      height: 225px;
      background-color: @greenDark;
      .border-radius(100%);
    }
  }
}

aside {
  text-align: center;
  .sponsor-list {
    border-left: 1px solid @grayLighter;
    padding: 0 5px 0 20px;
    h2 { font-weight: 900; }
    h3 {
      margin-top: 60px;
      font-weight: 900;
      &:first-child {
        margin-top: 0;
      }
    }
    img {
      padding: 15px 0;
    }
  }
}

.page-head {
  padding: 10px 0 20px 0;
  min-height: 55px;
  background-color: @blueSky;
  background-image: url('../img/pagehead-bkg.png');
  background-repeat: no-repeat;
  background-position: right bottom;

  h1 {
    text-transform:uppercase;
    font-size: @baseFontSize + 18;
    margin: 9px 0 0 0;
    span {
      font-size:@baseFontSize + 1;
      display:block;
      line-height:15px;
    }
  }
}

.page-content {
  margin-top: 20px;
  min-height: 500px;
  .box {
    padding-right: 25px;
  }
  .box-content {
    h3 {
      margin-top: 25px;
    }
  }
}

#skip {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.is_required {
  content: '*';
  color: @danger;
}

.required-field:before{
  .is_required;
}

.top.alert {
  position: absolute;
  top: 20px;
  width: 80%;
  left: 10%;
  z-index: 999;
}

aside.list {
  text-align: left;
  border: 1px solid @grayLighter;
  .border-radius(8px);
  padding: 15px 0;
  ul li {
    a {
      text-shadow: none;
      &:hover {
        background-color: @blueLight;
        color: @white;
      }
    }
  }
}

/* Buttons
==================== */
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: @baseFontSize + 1;
  font-weight: 700;
}

.btn {
  border: 3px solid @grayLighter;
  color: @white;
  background: @grayLight;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  .border-radius(6px);
  .box-shadow(none);
  .transition(0.25s);
  font-family: 'Lato', sans-serif;

  // Alternate states
  // --------------------------------------------------
  &:hover,
  &:focus,
  .btn-group:focus &.dropdown-toggle {
    background-color: @button-hover;
    color: @button-text;
    outline: none;
    .transition(0.25s);
    border-color: @white;
  }

  // Active State
  &:active,
  .btn-group.open &.dropdown-toggle,
  &.active {
    background-color: @button-active;
    color: fade(@button-text, 75%);
    .box-shadow(none);
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    background-color: @grayLight;
    color: fade(@button-text, 75%);
    .box-shadow(none);
    .opacity(70);
  }

  // Button sizes
  // --------------------------------------------------

  // Large
  &.btn-large {
    font-size: @baseFontSize * 1.214; /* 17px */
    line-height: 20px;
    padding: 12px 18px 13px;
  }

  // Set the backgrounds
  // -------------------------
  &.btn-primary {
    .swap-button-color(@blueDark, @button-primary-hover, @button-primary-active);
    border: none;
    color: @white;
  }
  &.btn-info    {
    .swap-button-color(@blueLight, @button-info-hover, @button-info-active);
    border: none;
    color: @white;
  }
  &.btn-danger  {
    .swap-button-color(@danger, @button-danger-hover, @button-danger-active);
    border: none;
    color: @white;
  }
  &.btn-success {
    .swap-button-color(@greenDark, @button-success-hover, @button-success-active);
    border: none;
    color: @white;
  }
  &.btn-warning {
    .swap-button-color(@yellowBeak, @button-warning-hover, @button-warning-active);
    border: none;
    color: @white;
  }
  &.btn-white {
    .swap-button-color(@white, @button-white-hover, @button-white-active);
  }

}

// Datatables buttongroup needs a little padding
div.DTTT.btn-group {
  padding: 2px 0px 4px;
  // and override the button colors that don't seem to get set above
  .btn {
    .swap-button-color(@blueDark, @button-primary-hover, @button-primary-active);
    color: fade(@button-text, 75%);
    font-weight: 600;
  }
}

/* Navigation
==================== */
header.main {
  padding-top: 10px;
  .account-bar {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: @baseFontSize - 2.5;
    text-transform: uppercase;
    z-index: 99;
    .account-links {
      position: absolute;
      right: 0;
      top: 15px;
    }
    a {
      color: @blueDark;
      &.login {
        font-size:@baseFontSize - 2.5 !important;
        padding: 2px 12px !important;
        .btn;
        .btn-primary;
        margin-right: 10px;
      }
      &.signup {
        font-size:@baseFontSize - 2.5 !important;
        padding: 2px 12px !important;
        .btn;
        .btn-success;
      }
    }

    span { color: @grayDark; }

    form {
      display: inline;
      margin: 0;
      padding: 0;
        button[type=submit] {
        font-size:@baseFontSize - 2.5 !important;
        padding: 2px 12px !important;
        .btn;
        .btn-primary;
        margin-left: 15px;
      }
    }
  }

  nav {
    background: transparent;
    .container { position: relative; }
    .navbar {
      margin-bottom: 5px;

      .navbar-inner {
        background: transparent;
        .box-shadow(none);
        margin: 42px 0 0 60px;
        border: none;
      }

      .nav {
        margin: 5px 10px 0 0;
        li {
           a {
            font-size: @baseFontSize + 3;
            font-weight:400;
            margin: 0 20px 0 0;
            padding: 5px 10px 6px;
            box-shadow: none !important;
            text-shadow: none;
            color: @grayDark;
            font-weight: 400;
            line-height: 20px;
            &:hover {
              background-color: @blueLight;
              .border-radius(6px);
              .transition(0.25s);
              color: @white !important;
              &:focus {
                color: @white !important;
              }
            }
            &:active {
              background-color: darken(@blueLight, 20%);
            }
            &:focus {
              color: @grayDark;
              .transition(0.25s);
            }
          }
          &.dropdown {
            &.open > .dropdown-toggle,
            &.active > .dropdown-toggle,
            &.open.active > .dropdown-toggle {
              background-color: @blueDark;
              .border-radius(8px);
            }
          }
        }

        .dropdown-menu {
          .border-radius(6px);
          border-top: 6px solid @greenDark;
          border-right: 1px solid @grayLighter;
          border-left: 1px solid @grayLighter;
          border-bottom: 1px solid @grayLighter;
          margin: 8px 0 0 0;
          .transition(0.5s);
          &:after {
            top: -12px;
            border-bottom: 6px solid @greenDark;
            .transition(0.5s);
          }
          &:before {
            top: -13px;
            .transition(0.5s);
          }
          li {
            &.active {
              a {
                color: @white;
              }
            }
            a {
              margin: 0;
              color: @grayDark;
              &:hover {
                background-color: @blueLight;
                color: @white;
                background-image: none;
                .border-radius(0);
              }
            }
          }
        }
      }
    }

    a.logo-small {
      position:absolute;
      top: 5px;
      left: 0;
      width: 365px;
      height: 71px;
      background:url(../img/pycon2014-logo_sub.png) no-repeat 0 0;
      text-indent: -9999px;
    }
  }
}

ul.breadcrumb {
 background: transparent;
 margin: 0;
 padding: 0;
 > li {
   text-shadow: none;
 }
 > .active, > .divider {
   color: lighten(@gray, 20%);
 }
}

/* Homepage
==================== */
body.home {
  width: 100%;
  .logo-small {
    display: none;
  }
  nav .navbar {
    margin-bottom: 0;
    .nav { margin: 0; }
    .navbar-inner { margin: 0 0 0 40px; }
  }
  .account-bar {
    position: relative;
    .account-links {
      position: absolute;
      right: 0;
      top: 3px;
    }
    &.loggedin {
      padding-bottom: 25px;
    }
  }
  .sky {
    padding-top: 50px;
    position: relative;

    // background-color: @blueSky;
    background: #cbeced; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 13%, #edfaff 52%, #cbeced 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#ffffff), color-stop(52%,#edfaff), color-stop(100%,#cbeced)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 13%,#edfaff 52%,#cbeced 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 13%,#edfaff 52%,#cbeced 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 13%,#edfaff 52%,#cbeced 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 13%,#edfaff 52%,#cbeced 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cbeced',GradientType=0 ); /* IE6-9 */

    .logo {
      background: url("../img/pycon2014-logo.png") no-repeat scroll 0 0 transparent;
      display: block;
      height: 200px;
      text-indent: -9999px;
      whitespace: nowrap;
      background-position: center center;
      -webkit-background-size: auto 200px;
      -moz-background-size: auto 200px;
      background-size: auto 200px;
    }
    .details { display: none; }
    .span12 { position: relative; }
    .promo {
      text-align: center;
      &.no-link {
        .border-radius(100%);
        background-color: @yellowBeak;
        position: absolute;
        width: 100px;
        padding: 35px 10px 25px;
        right: 0;
        top: -15px;
        border: 8px solid lighten(@yellowBeak, 20%);
        p {
          text-align: center;
          font-size: 22px;
          font-weight: 900;
          line-height: 22px;
          color: @white;
          &.small {
            font-size: 18px;
          }
        }
      }
      a {
        .btn;
        .btn-primary;
        padding: 15px 75px;
        margin: 40px 0 0 0;
        font-size: 24px;
      }
    }
  }
  .schedule {
    width: 100%;
    margin-left: 20px;
    ul {
      list-style: none;
      font-size: 18px;
      text-align: center;
      margin: 40px 25px 0 5px;
      li {
        padding: 10px 0;
        display: inline-block;
        // background-color: @blueSky;
        background-color: #EEE89E;
        .border-radius(8px);
        // border: 4px solid @white;
        border: 4px solid #E5A173;
        line-height: 24px;
        text-align: center;
        width: 160px;
      }
      li + li { margin-left: 10px; }
    }
  }
  .city {
    position: relative;
    height: 225px;
    // background-color: @blueSky;
    background-color: #cbeced;

    .tokyo {
      position: relative;
      background: url("../img/tokyo.png") no-repeat scroll 0 0 transparent;
      height: 180px;
      width: 100%;
      z-index: 1;
      margin: 10px 0 0 0;
      background-position: center;
    }
    .lawn {
      background: @greenDark;
      background-image: url("../img/lawn-bkg.png");
      padding-top: 10px;
      height: 65px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  .clouds {
    position: relative;
    padding-top: 25px;
    #one-cloud {
      width: 163px;
      height: 58px;
      position: absolute;
      right: 115px;
      top: -10px;
      background: url("../img/one-cloud.png") no-repeat transparent;
    }
    #two-clouds {
      width: 229px;
      height: 104px;
      top: -60px;
      left: 45px;
      position: absolute;
      background: url("../img/two-clouds.png") no-repeat transparent;
    }
  }

  .blog-post {
    margin-bottom: 25px;
    h2 {
      font-size: @baseFontSize + 5;
      margin: 0;
    }

    .date {
      color: @grayLight;
      font-size: @baseFontSize + 5;
      width: 40px;
      padding: 8px 10px;
      margin: 0 10px 0 0;
      background: lighten(@grayLight, 20%);
      text-align: center;
      float: left;
      span {
        font-size: @baseFontSize - 2;
        font-weight: normal;
        font-style: italic;
        line-height: 12px;
        display: block;
      }
    }

    .post_dateline {
      color: #98a1a3;
      text-transform: uppercase;
      font-size: @baseFontSize - 2;
      font-weight: bold;
    }
    .teaser {
      display: inline-block;
    }
  }



  /* Sponsor slideshow
  ==================== */
  .sponsor-crawl {
    position: relative;
    padding: 60px 0 80px;
    width: 100%;
    .sponsorship-link {
      position: absolute;
      right: 20px;
      top: 78px;
      z-index: 999;
      a {
        .btn;
        .btn-success;
      }
    }
  }
  ul#slider {
    display: block;
    width: 100%;
    height:120px; /* 260px - actual height */
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-left:-19px;
      display:none;
    }

    li.first {
      display:block;
    }

    a {
      display:block;
      float:left;

      .sp-logo {
        display:block;
        height:70px;
      }

      img {
        margin:0 0 10px 19px;
      }

      .level {
        display:block;
        margin:0 0 10px 19px;
        padding:5px 0 0 0;
        width:100px;
        text-align:center;
        text-transform:uppercase;
        color:#666;
        font-size:11px;
      }
    }
  }

  .scroll-title {
    margin-bottom: 5px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
  }

  .carousel-inner {
    height: 250px;
    div.item {
      width: 100%;
      padding: 10px 0 40px 0;
      height: 150px;
    }
  }

  .sponsor-scroll-item {
    cursor: pointer;
    float:left;
    width: 200px;
    height: 100px;
    background: none center center no-repeat;
    -webkit-background-size: 95px auto;
    -moz-background-size: 95px auto;
    background-size: 95px auto;
  }

  .carousel {
    margin-bottom: 0;
    .item {
      .transition(.7s ease-in-out opacity);
      left: 0 !important;
    }

    .next.left, .prev.right {
      opacity: 1;
      z-index: 1;
    }

    .active.left, .active.right {
      opacity: 0;
      z-index: 2;
    }

  }

  /* Slideshow nav
  ==================== */
  nav#slider-nav {
    position: relative;
    margin-left: 50%;
    a {
      text-indent: -9999px;
      display: block;
      float: left;
      width: 9px;
      height: 9px;
      margin-right: 5px;
      background: @grayLight;
      .border-radius(100%);
      &:hover {
        background: @blueLight;
      }
      &.activeSlide {
        background: @blueDark;
      }
    }
  }
}

/* Sponsors
==================== */
body.sponsors {
  a.read-more {
      .btn;
      .btn-success;
      display: block;
      width: 275px;
    }
  &.apply .page-content {
    text-align: left;
  }
  .page-content {
    position: relative;
    margin-top: 0;
    text-align: center;
    h2 {
      font-weight: 900;
      padding: 15px 0;
      font-size: 32px;
    }
    .sponsor {
      border: 1px solid #d2d2cb;
      .box-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
      .border-radius(4px);
      padding:1px;
      background:@white;
      position:relative;
      margin-bottom:20px;

      .sponsor-content {
        border:3px solid #f7f7f3;
        padding:15px;
        height:450px;
        overflow:auto;
      }

      h4 {
        font-size:@baseFontSize + 3;
        line-height:30px;
      }
    }
  }
}

/* Venue
==================== */
body.venue {
  p.intro {
    font-size: @baseFontSize + 1;
    margin: 15px 0 25px 0;
    font-style: italic;
  }
  .map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe {
      border: 1px solid #ddd;
    }
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    a {
      font-size: @baseFontSize - 2;
    }
  }

  .hotels {
    margin-top: 30px;
    .place {
      float: left;
      width: 35%;
      margin-right: 30px;
      .border-radius(8px);
      a {
        .btn;
        .btn-success;
      }
      h3 {
        font-weight: normal;
      }
    }
  }
}

/* CMS Pages
==================== */
body.cms-page {
  .edit-btn {
    .btn;
    .btn-primary;
    font-weight: 300;
    margin-bottom: 25px;
  }
  &.editable {
    .box-content {
      border: 1px dashed  @grayLight;
    }
  }
  &.editable-form {
    form {
      label {
        margin-top: 30px;
        &[for=id_title] {
          margin-top: 0;
        }
      }
      input[type=submit] {
        .btn;
        .btn-success;
      }
      textarea {
        resize: none;
        width: 649px;
        .border-radius(0 0 8px 8px);
      }
      .bottom-preview {
        width: 645px;
        border: 2px dashed @grayLighter;
      }
    }
  }
}

/*  Retina media query.
  Overrides styles for devices with a
  device-pixel-ratio of 2+, such as iPhone 4.
=========================================== */
// TODO 1>2
@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {

  h3.logo a {
    width: 213px;
    height: 63px;
    background-image: url(../img/pycon2014-logo_sub@2x.png);
    -webkit-background-size: 213px 63px;
    -moz-background-size: 213px 63px;
    background-size: 213px 63px;
  }

  body.home .sky .logo {
    background-image: url(../img/pycon2014-logo@2x.png);
    -webkit-background-size: 522px 380px;
    -moz-background-size: 522px 380px;
    background-size: 522px 380px;
    height: 380px;
  }
  .montreal {
    background: url("../img/montreal@2x.png") no-repeat scroll 0 0 transparent;
    height: 230px;
    width: 827px;
  }
  .page-head .skyline {
    background: url('../img/pagehead-bkg@2x.png') no-repeat;
    -webkit-background-size: 500px 70px;
    -moz-background-size: 500px 70px;
    background-size: 500px 70px;
  }
}

/* Auth pages
==================== */
body.auth {
  .dashboard-top {
    p {
      font-size: 18px;
      font-style: italic;
    }
  }
  .box {
    form {
      .help-block {
        font-style: italic;
        color: @grayLight;
      }
      .control-group {
        .controls {
          margin-bottom: 25px;
          .input-prepend {
            .add-on {
              padding: 7px 5px;
              z-index: 999;
              left: 2px;
              position: relative;
            }
            input {
              z-index: 1;
            }
          }
        }
        .markedit textarea {
          width: 600px;
          .border-radius(0 0 8px 8px);
          resize: none;
          margin-bottom: 15px;
        }

        .markedit-toolbar {
          width: 615px;
        }

        .markedit-preview {
          width: 595px;
          margin-bottom: 15px;
          background: transparent;
          border: 2px dashed @grayLighter;
          word-wrap: break-word;
        }
      }
    }
  }
  form {
    textarea {
      width: 600px;
    }
    .form-actions {
      input[type=submit] {
        .btn;
        .btn-success;
        border: 1px solid @greenDark;
        .border-radius(4px);
        line-height: 24px;
        &:hover {
          border: 1px solid @greenDark;
        }
      }
    }
  }
}

/* Boxes
==================== */
.content-box {
  hr {
    border-color: @grayLighter;
  }
  &.editable {
    border: 1px dashed #bbb;
    padding: 5px;
    min-height: 40px;
  }
}
.edit-toggle {
    position: relative;
    float: right;
}

section.widget {
  padding:0 0 10px 0;
  margin-bottom:20px;

  &.last {
    background:none;
  }

  h4 {
    font-weight:uppercase;
    margin-bottom:10px;
    font-size:16px;
  }
}

// Markdown editor styles
[id*="edit_"] {
  &.modal {
    width: 600px;
    margin-left: -250px;
    textarea {
      resize: none;
      width: 95%;
    }
    .bottom-preview {
      margin-bottom: 50px;
      width: 95%;
    }
  }
}

/* Sign Up + Login
==================== */
body.signup, body.login {
  aside {
    text-align: left;
  }
  .page-content {
    margin-top: 40px;
  }
  form {
    button[type=submit] {
      .btn;
      .btn-success;
    }
    .forgot {
      margin-top: 15px;
    }
  }
}

body.login {
  .page-content {
    .box { border-right: 1px solid @grayLighter; }
  }
}

/* Team
==================== */
body.team {
  form.membership {
    float: left;
    margin: 0 15px 15px 0;
    .clearfix;
  }
  h2 {
    margin-top: 50px;
  }
}


/* Below styles for to-be-styled in Phase 2 */

/* Speaker profile
==================== */
.avatar {
  float:left;
  margin:0 20px 0 0;
  border:1px solid #d2d2cb;
  padding:2px;
}

.speaker-details {
  float:left;
  width:430px;
}

.presentation {
  //border-left: 2px solid @yellow;
  padding-left:10px;
  margin-bottom:5px;
}

/* Reviews
==================== */
.nav {
    margin-bottom: 0px;
}

div.tab-content {
    background: @white;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-top: none;
    .border-radius(0 0 4px 4px);
    .box-shadow(~"0 1px 1px rgba(0,0,0,0.1)");
}

dd {
    margin-bottom: 1.5em;
}

div.review-box {
    padding: 10px;
    background: #fafafa;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    width: 500px;
    .border-radius(4px);
    .box-shadow(~"0 1px 1px rgba(0,0,0,0.1)");

    div.vote {
        margin-top:10px;
        width: 50px;
    }
    div.vote span {
        font-size: 18pt;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(255,255,255,.5);
    }

    div.review-content {
        margin-left: 60px;
    }
}

div.comment-box {
    padding: 10px;
    background: #fafafa;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    width: 500px;
    .border-radius(4px);
    .box-shadow(~"0 1px 1px rgba(0,0,0,0.1)");

    &.private {
      background: @blueLight;
    }
}

.dashboard-panel {
    position: relative;
    clear: both;
    width: auto;
    margin-bottom: 2em;
    overflow: hidden;

    .dashboard-panel-header {


        position: relative;
        height: 40px;
        line-height: 40px;
        #gradient > .vertical(#FAFAFA, #E9E9E9);
        border: 1px solid #D5D5D5;
        .border-radius(4px 4px 0 0);
        -webkit-background-clip: padding-box;

        .header-actions {
            padding-right: 10px;
        }

        h3 {
            position: relative;
            top: 2px;
            left: 10px;
            display: inline-block;
            margin-right: 3em;
            font-size: 14px;
            font-weight: 600;
            color: @grayDark;
            line-height: 18px;
            text-shadow: 1px 1px 2px rgba(255,255,255,.5);
        }

        > [class^="icon-"], > [class*=" icon-"] {
            display: inline-block;
            margin-left: 13px;
            margin-right: -2px;
            font-size: 16px;
            color: @grayDark;
            vertical-align: middle;
        }
    }

    .dashboard-panel-content {
        padding: 40px 15px 15px;
        border: 1px solid #D5D5D5;
        .border-radius(5px);
        .box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
        background-color: @white;

        h3 {
            font-size:@baseFontSize + 6;
            font-weight: 800;
            line-height: 20px;
            margin-bottom:20px;
        }

        .actions()
    }

    .dashboard-panel-header + .dashboard-panel-content {
        border-top: none;
        padding-top: 20px;
        .border-radius(0 0 4px 4px);
    }
}

/* Job fair
==================== */
body.job-fair {
  a.read-more {
      .btn;
      .btn-success;
      display: block;
      width: 275px;
    }
  .job-post {
    border:1px solid #d2d2cb;
    .box-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
    .border-radius(4px);
    padding:1px;
    background:@white;
    position:relative;
    margin-bottom:20px;

    .post-content {
      border:3px solid #f7f7f3;
      padding:15px;
      overflow:auto;
    }

    h5 {
      font-size:@baseFontSize + 3;
      line-height:30px;
    }
  }
}


table.calendar {
  background-color: lighten(#f2ebdf, 7%);
  table-layout: fixed;
  font-size: 12px;

  tr {
    min-height: 36px;
  }

  th {
    text-align: center;

    &.time {
      width: 40px;
    }
  }

  td {
    text-align: center;
    vertical-align: middle;

    &.time {
      vertical-align: top;
      padding-top: 0;
      margin-top: 0;
      color: #444;
      font-size: 11px;
    }

    &.slot {
      font-weight: bold;
      background-color: lighten(#FDFFD9, 2%);
      text-shadow: @white 0px 1px 0px;

      &.slot-Breakfast, &.slot-Break, &.slot-Lunch { background-color: #ECFFFF; }
      &.slot-plenary, &.slot-lightning { background-color: lighten(#DCDCFF, 3%); }
      p {
        padding: 0;
        margin: 0;
      }
    }

    span.title {
      font-weight: bold;
      display: block;
    }
    span.speaker {
      font-weight: normal;
      display:block;
    }
  }
}

/* Financial Aid
==================== */
body.finaid {

  // Mark travel plans as required even though technically they aren't
  // required by the form.
  label[for=id_travel_plans]:before {
    .is_required;
  }

  &#application_list {
    form#applicant-list {
      th { cursor: pointer;
        &:hover { background-color: @grayLighter; }
        &:first-child:hover {
          background-color: transparent;
          cursor: default;
        }
      }
      .filter {
        .clearfix;
        padding: 15px 0;
        .sort {
          float: left;
          select { width: auto; }
          label { margin: 5px 0 0 0; }
        }
        .search { float: right;}
      }
      .table-pagination {
        .clearfix;
        float: right;
      }
      .actions { float: left; }
    }
  }

  &#finaid_review {
    .box-content {
      header {
        padding: 15px 0 25px;
        h2, h3 { margin: 0; }
      }
      .applicant {
        border-right: 1px solid @grayLighter;
        padding-right: 50px;
        ul {
          padding: 8px 0;
          li {
            line-height: 1.6;
            ul {
              padding: 15px;
              background-color: @grayLighter;
              .border-radius(8px);
              margin-bottom: 20px;
            }
          }
        }
        .applicant-info {
          li {
            padding-bottom: 20px;
          }
        }
      }
      .review-form {
        padding-left: 25px;
        label {
          text-transform: none;
          font-weight: bold;
        }
      }
    }
  }
}
